
<ion-header-bar class="transparent">
</ion-header-bar>

<ion-content>
    <div>
        <ion-list>
            <li class="item item-input text-input">
                <input class="item-inset" type="text" ng-model="todo.content" placeholder="Title your new todo..." required>
            </li>

             <table><tr><td>
                <label class="item item-input item-select">
                    <div class="input-label">
                      Takes
                    </div>
                    <select ng-model="todo.duration" ng-options="duration.name for duration in durations" required>
                    </select>
                </label>
                </td></tr><tr><td>
                <label class="item item-input item-select">

                    <div class="input-label">
                      Priority
                    </div>

                    <select ng-model="todo.priority" required>
                        <option value='3'>must complete</option>
                        <option value='5'>prefer to complete</option>
                        <option value='7'>reminder only</option>
                    </select>
                </label>
            </td></tr></table>

            <label class="item item-input item-select">
                <div class="input-label">
                  Schedule for<br>{{todo.deadline === "unscheduled" ? "" : todo.deadline}} 
                </div>
                <select ng-model="todo.softdeadline" required>
                    <option>In Progress</option>
                    <option>Today</option>
                    <option>Tomorrow</option>
                    <option>This Week Random</option>
                    <option>This Weekend</option>
                    <option>Next Week</option>
                    <option>Next Weekend</option>
                    <option>This Month</option>
                    <option>Next Month</option>
                    <option>This Quarter</option>
                    <option>This Year</option>
                    <option>Next Year</option>
                </select>
            </label>            
        
<!-- simple date select jogwheel (doesn't show day of week)             
<label class="item item-input">
  <span class="input-label">Date</span>
  <input type="date">
</label>
-->

            <i ng-model="hasDeadline" ng-click="hasDeadline=!hasDeadline"><ion-button class="button button-block button-stable icon ion-ios7-calendar-outline" ng-mouseleave="hover=false" ng-model="dueDate">&nbsp;&nbsp;&nbsp;{{dueDate}}</ion-button></i>

            <div ng-show="hasDeadline">

                 <ion-item>
                   <table><tr><td>
                        <input type="text" pick-a-date="date" pick-a-date-options="{ format: 'm/d/yyyy' }" placeholder="Select Date" ng-model="todo.deadlinedate" ng-change="setDueDate(todo)"/> 

                        <input type="text" pick-a-time="time" placeholder="Select Time" ng-model="todo.deadlinetime" /> 
                        </td>
                   
                    </td></tr></table>
                    
                </ion-item>

            </div>

            <ion-button class="button button-block button-stable icon ion-ios7-loop-strong" ng-click="openRepeatModal()">&nbsp;&nbsp;&nbsp;Repeat {{todo.repeat.type}}</ion-button>

            <ion-button class="button button-block button-stable icon ion-ios7-alarm-outline" ng-click="">&nbsp;&nbsp;&nbsp;Reminder</ion-button>

            <ion-item>
            Comments:<br>
                <textarea rows="3" ng-model="todo.comments" placeholder="Add commments here..." ng-click="openCommentModal()"></textarea>
            </ion-item>

            <ion-toggle ng-model="todo.goal" toggle-class="toggle-calm" >Set As Goal</ion-toggle>
            <!--
            <ion-button class="button button-block button-balanced" ng-click="create()">
                Add
            </ion-button>
        -->
        </ion-list>
    </div>
</ion-content>

<ion-footer-bar class="bar-stable">
    <div class="buttons">
        <button class="button" ui-sref="todos">Back</button>
        <h1 class="title"></h1>
        <button class="button button-balanced" ng-click="create()">Add</button>
    </div>
</ion-footer-bar>

<script id="repeat.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
    <button class="button" ng-click="closeModal()">Back</button>
      <h1 class="title">Repeat Task</h1>
    </ion-header-bar>

    <ion-content>
        <ion-list>
            <ion-item>
                <button ng-model="timer" ng-click="showSelected('Timer')">timer</button>
                <button ng-model="daily" ng-click="showSelected('Daily')">daily</button>
                <button ng-model="weekly" ng-click="showSelected('Weekly')">weekly</button>
                <button ng-model="monthly" ng-click="showSelected('Monthly')">monthly</button> 
                <button ng-model="yearly" ng-click="showSelected('Yearly')">yearly</button>
            </ion-item>

            <ion-item>
            Starts on<br>
            <label class="item item-input">
                <span class="input-label">Date</span>
                <input type="date" placeholder="{{startDate}}" ng-model="todo.repeat.startsOn" >
            </label>
            <!--
            <input type="text" pick-a-date="date" pick-a-date-options="{ format: 'm/d/yyyy' }" placeholder="{{startDate}}" ng-model="todo.repeat.startsOn"  /> 
            -->
            <br>
            Repeats Every
                <select ng-model="todo.repeat.frequency" 
                ng-options="num for num in nums" required>
                </select>
                {{frequencyText}}
            <br>
            <div ng-show="weekly">
                Repeat on:<br>
                <table><tr><td>
                M </td><td>
                T </td><td>
                W</td><td>
                TH</td><td>
                F </td><td>
                S </td><td>
                Su</td></tr>
                <tr><td>
                <input type="checkbox" ng-model="todo.repeat.repeatOn.m" >
                </td><td>
                <input type="checkbox" ng-model="todo.repeat.repeatOn.t" >
                </td><td>
                <input type="checkbox" ng-model="todo.repeat.repeatOn.w" >
                </td><td>
                <input type="checkbox" ng-model="todo.repeat.repeatOn.th" >
                </td><td>
                <input type="checkbox" ng-model="todo.repeat.repeatOn.f" >
                </td><td>
                <input type="checkbox" ng-model="todo.repeat.repeatOn.s" >
                </td><td>
                <input type="checkbox" ng-model="todo.repeat.repeatOn.su" >
                </td></tr></table>
            </div>
            <br>
            <div ng-show="monthly">
                <form>Repeat by<br>
                <input ng-model="todo.repeat.monthType" value="0" type="radio" > Day of the month<br>
                <input ng-model="todo.repeat.monthType" value="1" type="radio" > Day of the week<br>
                </form>
            </div>

            </ion-item>

            <ion-item>
                <form>
                    Ends<br>
                    <table><tr><td>
                    <input ng-model="todo.repeat.endType" value="0" type="radio" > Never<br>
                    </td></tr>
                    <tr><td>
                    <input ng-model="todo.repeat.endType" value="1" type="radio" > After <input type="text" ng-model="todo.repeat.occurences" maxlength="3" placeholder="" >Occurences<br>
                    </td></tr>
                    <tr><td>

                    <label class="item item-input">
                        <span class="input-label">Date</span>
                        <input type="date" placeholder="{{startDate}}" ng-model="todo.repeat.startsOn" >
                    </label>
                    <!--
                    <input ng-model="todo.repeat.endType" value="2" type="radio"> On <input type="text" pick-a-date="date" pick-a-date-options="{ format: 'm/d/yyyy' }" placeholder="" ng-model="todo.repeat.endsOn" >
                    --> 
                    </td></tr></table><br>
                </form>
            </ion-item>

        </ion-list>
    </ion-content>
  </ion-modal-view>
</script>
