<ion-header-bar class="bar-stable">
    <div class="buttons">
        <button class="button" ui-sref="todos">Back</button>
        <h1 class="title">Edit Todo</h1>
        <button class="button button-balanced" ng-click="edit()">Update</button>
    </div>
</ion-header-bar>

<ion-content>
    <div>
        <ion-list>
            <li class="item item-input item-stacked-label">
                <input type="text" ng-model="todo.content" class="text-input" required>
            </li>  

            <label class="item item-input item-select">
                <div class="input-label">
                  Will Take Me (in hours)
                </div>
                <select ng-model="todo.duration">
                    <option>0.25</option>
                    <option>0.50</option>
                    <option>0.75</option>
                    <option>1.00</option>
                    <option>1.25</option>
                    <option>1.50</option>
                    <option>1.75</option>
                    <option>2.00</option>
                    <option>2.50</option>
                    <option>3.00</option>
                    <option>3.50</option>
                    <option>4.00</option>
                    <option>4.50</option>
                    <option>5.00</option>
                    <option>5.50</option>
                    <option>6.00</option>
                    <option>6.50</option>
                    <option>7.00</option>
                    <option>7.50</option>
                    <option>8.00</option>
                    <option>8.50</option>
                    <option>9.00</option>
                    <option>9.50</option>
                    <option>10.00</option>
                    <option>10.50</option>
                    <option>11.00</option>
                    <option>11.50</option>
                    <option>12.00</option>
                    <option>12.50</option>
                    <option>13.00</option>
                    <option>13.50</option>
                    <option>14.00</option>
                    <option>14.50</option>
                    <option>15.00</option>
                    <option>15.50</option>
                    <option>16.00</option>
                    <option>16.50</option>
                    <option>17.00</option>
                    <option>17.50</option>
                    <option>18.00</option>
                    <option>18.50</option>
                    <option>19.00</option>
                    <option>19.50</option>
                    <option>20.00</option>
                    <option>20.50</option>
                    <option>21.00</option>
                    <option>21.50</option>
                    <option>22.00</option>
                    <option>22.50</option>
                    <option>23.00</option>
                    <option>23.50</option>
                    <option>24.00</option>
                </select>
            </label>

            <label class="item item-input item-select">
                <div class="input-label">
                  Priority
                </div>
                <select ng-model="todo.priority" required>
                    <option>must complete</option>
                    <option>prefer to complete</option>
                    <option>reminder only</option>
                </select>
            </label>    

            <label class="item item-input item-select">
                <div class="input-label">
                  Soft Deadline
                </div>
                <select ng-model="todo.softdeadline" required>
                    <option>Today</option>
                    <option>Tomorrow</option>
                    <option>This Week</option>
                    <option>This Weekend</option>
                    <option>Next Week</option>
                    <option>Next Weekend</option>
                    <option>This Month</option>
                    <option>Next Month</option>
                    <option>This Quarter</option>
                    <option>This Year</option>
                    <option>Someday</option>
                </select>
            </label>  

            <ion-item>
            Hard Deadline (optional)<br>
            <!-- https://github.com/alongubkin/angular-datepicker -->
            <input type="text" pick-a-date="date" pick-a-date-options="{ format: 'm/d/yyyy' }" placeholder="Select Date"  ng-model="todo.deadlinedate" ng-click="todo.deadlinetime=''" /> 
            <input type="text" pick-a-time="time" placeholder="Select Time" ng-model="todo.deadlinetime" ng-click="todo.deadlinetime=''" /> 
            </ion-item>

            <ion-item>
                Computed Deadline:  {{todo.deadline}}
            </ion-item>
            <ion-toggle ng-model="todo.goal" toggle-class="toggle-calm">Set As Goal</ion-toggle>
            
            <ion-button class="button button-block button-balanced" ng-click="edit()">
                Update
            </ion-button>
        </ion-list>
    </div>
</ion-content>

<ion-footer-bar align-title="left" class="bar-stable">
  <div class="buttons">
    <button class="button button-assertive" ng-click="onItemDelete()">delete</button>
    <!-- Removing this for simplicity
    <ion-checkbox ng-model="todo.done">Complete</ion-checkbox>
    -->
  </div>
  <h1 class="title"></h1>
</ion-footer-bar>