
<ion-side-menus>

    <!-- Center content -->
    <ion-side-menu-content ng-controller="ContentController">

        <!--
        <ion-header-bar class="bar-stable">
        -->

            <!--
            <div class="buttons">
                <button class="button button-icon icon ion-ios7-minus-outline" ng-click="data.showDelete = !data.showDelete;"></button>
                <h1 class="title">All Todo Items</h1>
                <button class="button" ui-sref="createTodo">New</button>
            </div>
            -->

            <!--
            <div class="bar bar-header">
                <button menu-toggle="left" class="button icon ion-navicon"></button>
                <h1 class="title">All Todo Items</h1>
                <button class="button bar-dark" ui-sref="createTodo">New</button>
            </div>
            -->
                      
                
                <!--
                <button class="button icon ion-search placeholder-icon" ng-model="searchOn" ng-click="searchFocus()"></button>

                <button class="button bar-dark" ui-sref="createTodo">New</button>
                -->

          <!--
                <ion-nav-bar class="bar-header"> 
                    <ion-nav-buttons side="left">
                        <button menu-toggle="left" class="button button-clear icon ion-navicon"></button>
                        <h1 class="title">All Todo Items</h1>
                    </ion-nav-buttons>
                    <ion-nav-buttons side="right">
                        <button class="button button-clear button-balanced" ui-sref="createTodo">[ + ]</button>
                    </ion-nav-buttons>
                </ion-nav-bar>

            -->
            
        <!--
        </ion-header-bar>
    -->

        <ion-content>
                <br class="transparent">

            <ion-refresher
                pulling-text="Pull to add item..."
                on-refresh="doRefresh2()">
            </ion-refresher>

            <ion-list>
              <label class="item item-input item-select">
                <div class="input-label">
                  Date Range:
                </div>
                <select ng-model="dateFilterOption" ng-change="dateFilterUpdate(dateFilterOption)">
                    <option>Inbox</option>
                    <option>In Progress</option>
                    <option>Today</option>
                    <option>Tomorrow</option>
                    <option>This Week</option>
                    <option>Next Week</option>
                    <option>This Month</option>
                    <option>This Quarter</option>
                    <option>This Year</option>
                    <option>Someday</option>

                </select>
              </label>
              <label class="item item-input item-select">
                <div class="input-label">
                  Project:
                </div>
                <select>
                    <option selected>Personal</option>
                    <option>Business</option>
                    <option>Work</option> 
                </select>
              </label>
        
            <!--
            <ion-list> 
                <ion-item ng-repeat="item in items | filter:{done:false} | filter:filterTxt | filter:dateFilter |
                 orderBy:[predicateVal]:reverse "
                          item="item">   

            <ul ng-repeat="(key, value) in items | filter:{done:false} |
                 filter:filterTxt |
                  filter:dateFilter |
                 groupBy: 'deadline' |
                 orderBy:[predicateVal]:reverse" item="item"> 
            -->

                <div ng-controller="TodoQuickAddController" class="list list-inset">
                  <label class="item item-input">
                    <form ng-submit="addNewItem()">
                    <input id="quickAdd" type="text" placeholder="{{addNewPlaceholder}}" ng-model="newItem" ng-click="updateFilters('Inbox')">
                     <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
                    </form>
                  </label>
                </div>


                <ion-item class="item" ng-repeat="item in items |
                                filter:{done:false} |
                                filter:dateFilter |
                                orderBy:[predicateVal]:reverse "
                                href="#/todo/edit/{{item.objectId}}"
                                item="item"> 

                    <table class="table">
                        <tr>
                            <!--
                            <td class="checkbox">
                            -->
                            <!--
                            <td>
                                <br>
                                <button class="button button-clear icon-left ion-ios7-circle-outline" ng-click="doneToggle(item)"></button>
                            -->
                                <!--
                                <input type="checkbox" class="item-checkbox-left" ng-click="doneToggle(item)">
                                -->
                            <!--
                            </td>
                            <td>&nbsp;</td>
                            -->
                            <td>
                                <span class="overflow" ng-class="{'must':(item.priority==2||item.priority==3),'prefer':(item.priority==4||item.priority==5),'reminder':item.priority==7}">
                                   
                                {{item.content}}<br>
                                </span>

                                <table class="table item-headder"><tr>
                                    <td> 
                                        <i id="goal" ng-class="{'icon ion-ios7-star': item.goal, 'icon ion-ios7-star-outline': !item.goal, 'fake':item.priority==7}"></i>
                                    </td>
                                    <td> 
                                    <!--
                                    <span class="align-left">
                                        {{priorityText(item.priority)}} 
                                        
                                        <i ng-class="{'hidden22':item.duration=='0.00','fake':item.duration!='0.00'}">in {{item.duration}}
                                        </i>
                                        <ng-pluralize count="item.duration" 
                                            when="{
                                                '0': '',
                                                '1': 'hr',
                                                'other': 'hrs'}">
                                        </ng-pluralize>
                                        
                                    </span>    
                                    -->        
                                    <span class="align-right" ng-class="{'hard':item.hard,'fake':!item.hard}">
                                    <i ng-class="{'hidden22':item.duration=='0.00','fake':item.duration!='0.00'}"> {{item.duration}}
                                    </i>
                                    <ng-pluralize count="item.duration" 
                                        when="{
                                            '0': '',
                                            '1': 'hr',
                                            'other': 'hrs'}">
                                    </ng-pluralize>
                                        due {{item.deadline}}        
                                    </span>
                                </td></tr></table>
                                <!--
                                <span class="item-headder align-left">   
                                    <span class="align-left">
                                        {{priorityText(item.priority)}} 
                                        <i ng-class="{'hidden22':item.duration=='0.00','fake':item.duration!='0.00'}">in {{item.duration}}
                                        </i>
                                        <ng-pluralize count="item.duration" 
                                            when="{
                                                '0': '',
                                                '1': 'hr',
                                                'other': 'hrs'}">
                                        </ng-pluralize>
                                        
                                    </span>            
                                    <span class="align-right" ng-class="{'hard':item.hard,'fake':!item.hard}">
                                    {{item.deadline}}        
                                    </span>
                                </span> 

                            -->
                                <span class="item-footer">
                                    <span>
                                        <!--[List] -->
                                    </span>
                                </span>

                                <ion-option-button side="left" class="button-stable"
                                                 ng-click="goal(item)">
                                    Goal
                                </ion-option-button>

                                <ion-option-button class="button-calm" ng-click="showSnooze(item)">
                                    Push
                                </ion-option-button>

                                <ion-option-button class="button-balanced"
                                                 ng-click="doneToggle(item)">
                                    Done
                                </ion-option-button>
                            </td>
                        </tr>
                    </table>
                 </ion-item>       
              
            </ion-list>

            <br>
            <div>
                <!--
                    <button class="bar button bar-stable smaller" ng-model="completed.show" ng-click="completed.show = !completed.show">SHOW COMPLETED ITEMS</button>

                <button class="bar button bar-stable smaller" ng-controller="ConfigController" ng-model="show" ng-click="show = !show">SHOW COMPLETED ITEMS</button>
            -->

                <button class="bar button bar-stable smaller" ng-click="showCompleted()">SHOW COMPLETED ITEMS</button>
            </div>

            <div ng-show="show">
            <ion-list> 
                <ion-item class="item" ng-repeat="item in items |
                    filter:{done:true} |
                    filter:dateFilter | 
                    orderBy:'-completedAt' "
                          item="item"
                          href="#/todo/edit/{{item.objectId}}">
                    


                    <a class="a">
                    <span class="done-{{item.done}}"> 
                        {{item.content}}
                    </span>
                    </a>

                    <ion-option-button class="item button-assertive"
                                                 ng-click="onItemDelete(item)">Delete</ion-option-button>
                    <ion-option-button class="item button-balanced"
                                             ng-click="doneToggle(item)">Not Done</ion-option-button>

                </ion-item>
        </ion-list>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </ion-content>

        <ion-footer-bar align-title="left" class="bar-dark">
          <div class="buttons">
            <button menu-toggle="left" class="button icon ion-navicon"></button>

            <button class="button" ng-click="showSort()">Sort</button>
          </div>
          <h1 class="title"></h1>
          <div class="buttons" ng-click="reset()">
            <button class="button">reset</button>

            <button class="button icon ion-search placeholder-icon" ui-sref="search"></button>

          </div>
        </ion-footer-bar>

    </ion-side-menu-content>


    <!-- Left menu -->
    <ion-side-menu side="left">
        <ion-header-bar class="bar-dark">
          <h1 class="title">Projects2</h1>
          <button class="button button-icon ion-plus" ng-click="newProject()">
          </button>
        </ion-header-bar>
        <ion-content scroll="false">
          <ion-list>
            <ion-item ng-repeat="project in projects" ng-click="selectProject(project, $index)" ng-class="{active: activeProject == project}">
              {{project.title}}
            </ion-item>
            <ion-item>
                Settings
            </ion-item>
          </ion-list>
        </ion-content>
  </ion-side-menu>

</ion-side-menus>