/* Empty. Add your own CSS if you like */

/*
.newItem{
    position:absolute;
    right:10px;
}
.navbar{
    position:relative;
}
*/

.ion-header-bar {
  max-height: 25px;
  padding: 0px 0px 0px 0px;
  opacity: 0.0;
}

input, textarea {
  -webkit-user-select: auto !important;
  -khtml-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  -o-user-select: auto !important;
  user-select: auto !important;  
}


.transparent {
  opacity: 0.0;
}

.item {
    min-height: 56px;
}
.item-complex .item-content {
     padding: 10px 20px 10px 15px;
}

.hidden22 {
    visibility: hidden;
}

.blue {
  background-color: blue !important;
}

.overflow {
  text-overflow: ellipsis;
}

/* hard deadlines are highlighted */
.soft {
  /*
  outline-color: red;
  */
  font-style: oblique;
}

table {
  width: 100%;
}

td {
    vertical-align: middle;
}

.must {
  color: red;
}

.prefer {
  /*color: blue;*/
}

.reminder {
  color: grey;
}

.done-true {
  text-decoration: line-through;
  color: grey;
}

.item-headder {
  font-size: small;
  color: grey;
}

.item-footter {
  font-size: small;
  color: grey;
}

.short {
  height: 50px;
}

.item-footer {
  font-size: x-small;
  color: grey;
}

.align-right {
	float: right;
  text-align: right;
}

.align-center{
	text-align: center;
}

.smaller{
	font-size: smaller;
}

.text-input{
	background-color: #F0FAFF !important;
}

.italics {
	font-style: italic;
}

.normal {
	font-style: normal
}

.a {
    text-decoration: none;
}